[[source]]
name = "pypi"
url = "https://packages.vcfd.broadcom.net/artifactory/api/pypi/pypi-virtual/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
vcrpy-unittest = "*"

[packages]
pyyaml = "*"
objectpath = "*"
mock = "*"

[requires]
python_version = "3.9"
